<!DOCTYPE html>
<html lang="en">
    <head>
		<!-- please add these styles in css/style.css !-->
		<style>
.col-xs-4
{
	position:relative;
	width:33.333%;
}
.col-xs-1
{
	position:relative;
	width:10%;
}
.col-xs-5
{
	position:relative;
	width:50%;
}
.coupon_text
{
	font-family:verdana;
	font-weight:400;
	margin-right:200px;
	text-align:left;
}
.coupon-card
{
	height:70px;
	
	border-bottom:dashed 02px #d8dae1;
	margin-top:05px;
	margin-bottom:05px;
	padding-top:10px;
	padding-bottom:05px;
}
		</style>
		<!-- u have to add these styles in css/style.css     style ends -->
</head>
<body>
	<!-- please add this html part in coupon section   i am sending you screenshot where to add this code-->
	<div class="col-md-6 coupon-section">
                    <div class="container coupon text-center">
                        <div class="row coupon-card">
							<div class="col-lg-12 " style="font-weight:350;">
								Get Upto 5% off On your Bill
							</div>
							<div class="col-xs-1 text-left" style="padding-left:05px;">
								1.)
							</div>
							<div class="col-xs-5 text-left">
							Use 20 Points
							</div>
							<div class="col-xs-4 text-right" style="padding-right:05px;">
							
								<button class="sub">-</button> &nbsp; 0 &nbsp;<button class="sub">+</button>
							</div>
						</div>
						<div class="row coupon-card" >
							<div class="col-lg-12">
								<span class="coupon_text text-left" style="font-weight:350;">
									Get Upto 10% off On your Bill
								</span>
							</div>
							<div class="col-xs-1 text-left" style="padding-left:05px;">
								<span class="card-text">
									1.)
								</span>
							</div>
							<div class="col-xs-5 text-left">
								<span class="card-text">
									Use 40 Points
								</span>
							</div>
							<div class="col-xs-4 text-right" style="padding-right:05px;">
								
									<button class="sub">-</button> &nbsp; 0 &nbsp;<button class="sub">+</button>
							</div>
						
						</div>
						
                            <button class="btn btn-primary btn-rounded waves-effect" type="button">
                                <i aria-hidden="true" class="fa fa-inr fa-sm pr-2">
                                </i>
                                Balance: 150 Points
                            </button>
                            <button class="btn btn-success btn-rounded waves-effect" type="button">
                                <i aria-hidden="true" class="fa fa-shopping-cart fa-sm pr-2">
                                </i>
                                Buy Now
                            </button>
					</div>
		<!-- you need to end this code befor <div class="space"></div> and before <div class="card card-cascade wider"></div> -->
		</body>
	</html>
